$textColor: rgb(200, 200, 200);
$usualFont: 30px 'Vollkorn', serif;

.task-element {
    border: 1px solid $textColor;
    margin: 5px;
    border-radius: 3px;
}

.task-element__edit-input {
    font-size: 20px;
}

.task-element__text {
    padding: 10px;
    font: $usualFont;
    color: $textColor;
}

.task-element__text--completed {
    padding: 0px 10px;
    text-decoration: line-through;
}