$textColor: rgb(200, 200, 200);
$usualFont: 30px 'Vollkorn', serif;

.taskElement {
    border: 1px solid $textColor;
    margin: 5px;
    border-radius: 3px;
}

.taskElement__editInput {
    font-size: 20px;
}

.taskElement__text {
    padding: 10px;
    font: $usualFont;
    color: $textColor;
}

.taskElement__text--completed {
    @extend .taskElement__text;
    padding: 0px 10px;
    text-decoration: line-through;
}