$backColor: rgb(70, 70, 70);

.taskAddBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.taskAddBar__input {
    margin-right: 5px;
    background: $backColor;
    font-size: 30px;
    text-align: center;
}