.listElem-enter {
    opacity: 0.01;
}

.listElem-enter-active {
    opacity: 1;
    transition: 500ms ease-in;
}

.listElem-exit {
    position: relative;
    right: 0px;
    opacity: 1;
}

.listElem-exit-active {
    opacity: 0.01;
    right: 500px;
    transition: 300ms ease-in;
}